@import "tailwindcss";




.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

html{
  scroll-behavior: smooth;
}



.swiper-pagination-bullet {
    width: 2px !important;    
    height: 2px !important;   
    background: white !important; 
    opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
    width: 5px !important;   
    background: #14b8a6 !important; 
    opacity: 1 !important;
}



:root {
  --nav-bg: #14b8a6; 
  --mobile-menu-bg: #0d9488; 
}

body.darkMode {
  --nav-bg: #0c0c0c; 
  --mobile-menu-bg: #0c0c0c; 
  background-color: #0c0c0c; 
}
.mobile-dynamic {
    background-color: var(--mobile-menu-bg) !important;
}



.nav-dynamic {
  background-color: var(--nav-bg) !important;
  color: var(--text-color);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}



body.darkMode .card-bg {
    background-color: #1a1a1a !important;
    color: white !important;
}
body.darkMode .card-bg h1, 
body.darkMode .card-bg p,
body.darkMode .card-bg li h1 {
    color: #e5e7eb !important;
}
